<ion-header>
  <ion-navbar color="green">
    <ion-title>
      My Sent Routes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let route of routes" (click)="goToRoute(route.id)" (press)="openRouteActionSheet(route)" [ngClass]="{'route-sent': route.sent, 'route-ticklisted': route.ticklisted}">
    <ion-card-header class="route-card-header">
      <span>{{ route.name }}</span>
      <span>
        <ion-icon *ngFor="let star of route.starArray" name="star"></ion-icon>
        {{route.grade}}
        <ion-icon *ngIf="route.sent" name="checkmark"></ion-icon>
        <ion-icon *ngIf="route.ticklisted" name="heart"></ion-icon>
      </span>
    </ion-card-header>
  </ion-card>
  
</ion-content>

<ion-fab left bottom>
<button ion-fab color="light" (click)="openOrderActionSheet()"><ion-icon name="settings"></ion-icon></button>
</ion-fab>