// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$green: #00c853;
$primary: #9C27B0;
$secondary: #00bcd4;

.route-sent {
  background-color:  $green; //secondary
  font-weight: bold;

}

.route-ticklisted {
  background-color:  $secondary; //secondary
  font-weight: bold;
}

.route-header {

  .toolbar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .toolbar-title, .back-button-icon {
    color: white;
  }
  .toolbar-background {
    background-color: $primary;
  }

  &.sent {
    .toolbar-background {
      background-color: $green;
    }
  }

  &.ticklisted {
    .toolbar-background {
      background-color: $secondary;
    }
  }
  
}

.route-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}