<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{crag.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="https://placebear.com/400/400"/>
    <ion-card-header>
      {{ crag.name }}
    </ion-card-header>

    <ion-card-content>
      {{ crag.description }}
    </ion-card-content>
  </ion-card>

  <h3>Routes at {{ crag.name }}</h3>
  <h6>Order: {{ routeOrder }}</h6>

  <ion-card *ngFor="let route of routes" (click)="goToRoute(route.id)" (press)="openRouteActionSheet(route)" [ngClass]="{'route-sent': route.sent, 'route-ticklisted': route.ticklisted}">
    <ion-card-header class="route-card-header">
      <span>{{ route.name }}</span>
      <span>
        <ion-icon *ngFor="let star of route.starArray" name="star"></ion-icon>
        {{route.grade}}
        <ion-icon *ngIf="route.sent" name="checkmark"></ion-icon>
        <ion-icon *ngIf="route.ticklisted" name="heart"></ion-icon>
      </span>
    </ion-card-header>
  </ion-card>
  <button ion-button color="primary" clear (click)="goToArea(area.id)">
    <ion-icon name="arrow-back" padding-right></ion-icon>{{ area.name }}
  </button>
</ion-content>

<ion-fab left bottom>
<button ion-fab color="light" (click)="openOrderActionSheet()"><ion-icon name="settings"></ion-icon></button>
</ion-fab>